<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Home Page</title>
</head>
<body class="home-body">
   <div class="home-imgs">
    <section><img src="/images/Title.jpeg" alt="Title image">
    </section>
    <section>
<a href="/about" class="button">About Jack Johnson</a>
<a href="/works" class="button">Jack's favourite songs</a>
</section>
</div>
</body>
</html>