<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Works</title>
</head>
<body class="body-works">
<div>
    <a href="/" class="go-back">Go back to Homepage</a>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album1.png">
      <img src="/images/Album1.png" alt="Album1" width="600" height="400">
    </a>
    <div class="desc">In Between Dreams, 2004</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album5.jpeg">
      <img src="/images/Album5.jpeg" alt="Album5" width="600" height="400">
    </a>
    <div class="desc">Meet The Moonlight, 2022</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album2.jpeg">
      <img src="/images/Album2.jpeg" alt="Album2" width="600" height="400">
    </a>
    <div class="desc">Sleep Through the Static, 2007</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album3.jpeg">
      <img src="/images/Album3.jpeg" alt="Album3" width="600" height="400">
    </a>
    <div class="desc">Brushfire Fairytales, 2001</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album4.jpeg">
      <img src="/images/Album4.jpeg" alt="Album4" width="600" height="400">
    </a>
    <div class="desc">All the Light Above It Too, 2017</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/Album6.jpeg">
      <img src="/images/Album6.jpeg" alt="Album6" width="600" height="400">
    </a>
    <div class="desc">From Here to Now to You, 2014
    </div>
</div>

</body>
</html>